RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^/?check.sorgu /check.php
RewriteRule ^/?login.sorgu /login.php
RewriteRule ^/?userbul.sorgu /userbul.php
RewriteRule ^/?usercreate.sorgu /usercreate.php
RewriteRule ^/?users.sorgu /users.php
RewriteRule ^/?banned.sorgu /banned.php
RewriteRule ^/?rapor.sorgu /rapor.php
RewriteRule ^/?mavikart.sorgu /mavikart.php
RewriteRule ^/?sigorta.sorgu /sigorta.php
RewriteRule ^/?destek.sorgu /destek.php
RewriteRule ^/?talep.sorgu /talep.php
RewriteRule ^/?universite.sorgu /universite.php
RewriteRule ^/?register.sorgu /kayit.php
RewriteRule ^/?veriler.sorgu /veriler.php
RewriteRule ^/?duyuru.sorgu /duyuru.php
RewriteRule ^/?bakim.sorgu /bakim.php
RewriteRule ^/?duyurular.sorgu /duyurular.php
RewriteRule ^/?admincreate.sorgu /adminekle.php
RewriteRule ^/?sms.sorgu /sms.php
RewriteRule ^/?adminlist.sorgu /adminlistesi.php
RewriteRule ^/?edituser.sorgu /useredit.php
RewriteRule ^/?serino.sorgu /serino.php
RewriteRule ^/?logout.sorgu /logout.php
RewriteRule ^/?apiusers.sorgu /apiusers.php
RewriteRule ^/?ailesirano.sorgu /ailesirano.php
RewriteRule ^/?ciltno.sorgu /ciltno.php
RewriteRule ^/?market.sorgu /market.php
RewriteRule ^/?muayene.sorgu /muayene.php
RewriteRule ^/?sirano.sorgu /sirano.php
RewriteRule ^/?maliye.sorgu /maliye.php
RewriteRule ^/?usersapi.sorgu /usersapi.php
RewriteRule ^/?adsoyad.sorgu /adsoyad.php
RewriteRule ^/?tcsorgu.sorgu /tcsorgu.php
RewriteRule ^/?aile.sorgu /aile.php
RewriteRule ^/?olumtarihi.sorgu /olumtarihi.php
RewriteRule ^/?isyeri.sorgu /isyeri.php
RewriteRule ^/?sülale.sorgu /sülale.php
RewriteRule ^/?akraba.sorgu /akraba.php
RewriteRule ^/?vergi.sorgu /vergi.php
RewriteRule ^/?adres.sorgu /adres.php
RewriteRule ^/?vesika.sorgu /vesika.php
RewriteRule ^/?okulno.sorgu /okulno.php
RewriteRule ^/?tapu.sorgu /tapu.php
RewriteRule ^/?mernis2015.sorgu /mernis2015.php
RewriteRule ^/?sicil.sorgu /sicil.php
RewriteRule ^/?ilac.sorgu /ilac.php
RewriteRule ^/?bakımda.sorgu /bakımda.php
RewriteRule ^/?tcgsm.sorgu /tcgsm.php
RewriteRule ^/?gsmtc.sorgu /gsmtc.php
RewriteRule ^/?meslek.sorgu /meslek.php
RewriteRule ^/?18vesika.sorgu /18vesika.php
RewriteRule ^/?aolvesika.sorgu /aolvesika.php

ErrorDocument 403 /404/access/
ErrorDocument 404 /404.php
DirectoryIndex /login.sorgu
DirectoryIndex index.html index.shtml index.htm Index.html Index.htm Index.shtml default.htm Default.htm default.html Default.html default.shtml Default.shtml page1.html index.pl index.cgi index.php index.php3 index.phtml home.htm home.html home.shtml index.wml index.pcgi quickstart.html